@using GymeManagementBLL.ViewModels.MemberSession
@model IEnumerable<MemberSessionViewModel>

@{
    ViewData["Title"] = "Session Members";
}

@if (TempData["SuccessMessege"] != null)
{
    <div class="alert alert-success alert-dismissible fade show">
        @TempData["SuccessMessege"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}

@if (TempData["ErrorMessege"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show">
        @TempData["ErrorMessege"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}

<header class="bg-primary text-white rounded-3 p-4 shadow-sm mt-5 mb-4">
    <h2 class="mb-1 fw-semibold">Session Members</h2>
    <p class="mb-0 text-light opacity-75">Members Attendance</p>
</header>

<div class="card shadow-sm">
    <div class="card-body">

        @if (Model != null && Model.Any())
        {
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th>Member</th>
                        <th>Attendance</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MemberName</td>

                            <td>
                                @if (item.ISAttended)
                                {
                                    <span class="text-success fw-bold">
                                        ✔ Attended
                                    </span>
                                }
                                else
                                {
                                    <form asp-action="MarkAsAttended" method="post">
                                        @Html.AntiForgeryToken()

                                        <input type="hidden" name="memberSessionId" value="@item.MemberSessionId" />

                                        <button type="submit" class="btn btn-outline-success btn-sm">
                                            Mark as Attended
                                        </button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            <div class="text-center py-5">
                <h4 class="text-muted">No Members Available</h4>
            </div>
        }

    </div>

    <a asp-action="Index" class="btn btn-secondary m-3">Back to List</a>
</div>